@font-face {
    font-family: PlexMono-Reg;
    font-weight: 400;
    src: url(./assets/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: PlexMono-Bold;
    font-weight: 700;
    src: url(./assets/fonts/IBMPlexMono-Bold.ttf);
}

body {
    width: 1024px;
    height: 768px;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(./assets/images/cover-image-dark.png);
    width: 1024px;
    height: 768px;
    position: relative;
}

.theme-sw {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.theme-b {
    font-family: PlexMono-Reg;
    font-size: 18px;
    color: #FF0070;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 10px; 
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    border: 1px, solid, transparent;
}

.link-b {
    text-decoration: none;
}

.theme-b:hover {
    border: 1px, solid, #FF0070;
}

.theme-b:focus {
    border-bottom: 1px, solid, #FF0070;
}

.theme-b-p {
    font-family: PlexMono-Reg;
    font-size: 18px;
    color: #FF0070;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px, solid, #FF0070;
    margin: 0 10px;
    padding-left: 13px;
    padding-right: 13px;    
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.main-header {
    font-family: PlexMono-Bold;
    font-size: 157px;
    color: #DB00FF;
    text-shadow: 4px 4px #FF0070;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-disc {
    position: absolute;
    bottom: 135px;
    right: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    width: 491px;
    height: 70px;
}
.header-disc > p {
    font-family: PlexMono-Bold;
    font-size: 18px;
    color: #000028;
    background-color: #FF0070;
    text-align: left;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
}

.rectangle-top{
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: 1px solid #FF0070;
    border-right: 1px solid #FF0070;
    width: 25px;
    height: 25px;
}
.rectangle-bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid #FF0070;
    border-left: 1px solid #FF0070;
    width: 25px;
    height: 25px;
}
.lamp{
    position: relative;
    top: 7px;
    right: -8px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
}

.lamp-text {
    font-family: PlexMono-Reg;
    font-size: 18px;
    width: 33px;
    color: #FF0070;
    padding: 0;
    margin: 0;
    height: 26px;
    width: 52px;
    position: absolute;
    top: 20px;
    right: 29px;
}